:root[data-theme="theme-light"] {
    --mikiop-background-color: @ini_plugin_background_color;
    --mikiop-border-color: @ini_plugin_border_color;
    --mikiop-header-background-color: @ini_plugin_header_background_color;
    --mikiop-footer-background-color: @ini_plugin_footer_background_color;

    --mikiop-primary-text-color: @ini_plugin_primary_text_color;
    --mikiop-primary-text-hover-color: @ini_plugin_primary_text_hover_color;
    --mikiop-primary-background-color: @ini_plugin_primary_background_color;
    --mikiop-primary-background-hover-color: @ini_plugin_primary_background_hover_color;
    --mikiop-primary-border-color: @ini_plugin_primary_border_color;
    --mikiop-primary-border-hover-color: @ini_plugin_primary_border_hover_color;
    --mikiop-primary-light-text-color: @ini_plugin_primary_light_text_color;
    --mikiop-primary-light-background-color: @ini_plugin_primary_light_background_color;
    --mikiop-primary-light-border-color: @ini_plugin_primary_light_border_color;

    --mikiop-secondary-text-color: @ini_plugin_secondary_text_color;
    --mikiop-secondary-text-hover-color: @ini_plugin_secondary_text_hover_color;
    --mikiop-secondary-background-color: @ini_plugin_secondary_background_color;
    --mikiop-secondary-background-hover-color: @ini_plugin_secondary_background_hover_color;
    --mikiop-secondary-border-color: @ini_plugin_secondary_border_color;
    --mikiop-secondary-border-hover-color: @ini_plugin_secondary_border_hover_color;
    --mikiop-secondary-light-text-color: @ini_plugin_secondary_light_text_color;
    --mikiop-secondary-light-background-color: @ini_plugin_secondary_light_background_color;
    --mikiop-secondary-light-border-color: @ini_plugin_secondary_light_border_color;

    --mikiop-success-text-color: @ini_plugin_success_text_color;
    --mikiop-success-text-hover-color: @ini_plugin_success_text_hover_color;
    --mikiop-success-background-color: @ini_plugin_success_background_color;
    --mikiop-success-background-hover-color: @ini_plugin_success_background_hover_color;
    --mikiop-success-border-color: @ini_plugin_success_border_color;
    --mikiop-success-border-hover-color: @ini_plugin_success_border_hover_color;
    --mikiop-success-light-text-color: @ini_plugin_success_light_text_color;
    --mikiop-success-light-background-color: @ini_plugin_success_light_background_color;
    --mikiop-success-light-border-color: @ini_plugin_success_light_border_color;

    --mikiop-danger-text-color: @ini_plugin_danger_text_color;
    --mikiop-danger-background-color: @ini_plugin_danger_background_color;
    --mikiop-danger-border-color: @ini_plugin_danger_border_color;
    --mikiop-danger-text-hover-color: @ini_plugin_danger_text_hover_color;
    --mikiop-danger-background-hover-color: @ini_plugin_danger_background_hover_color;
    --mikiop-danger-border-hover-color: @ini_plugin_danger_border_hover_color;
    --mikiop-danger-light-text-color: @ini_plugin_danger_light_text_color;
    --mikiop-danger-light-background-color: @ini_plugin_danger_light_background_color;
    --mikiop-danger-light-border-color: @ini_plugin_danger_light_border_color;

    --mikiop-warning-text-color: @ini_plugin_warning_text_color;
    --mikiop-warning-background-color: @ini_plugin_warning_background_color;
    --mikiop-warning-border-color: @ini_plugin_warning_border_color;
    --mikiop-warning-text-hover-color: @ini_plugin_warning_text_hover_color;
    --mikiop-warning-background-hover-color: @ini_plugin_warning_background_hover_color;
    --mikiop-warning-border-hover-color: @ini_plugin_warning_border_hover_color;
    --mikiop-warning-light-text-color: @ini_plugin_warning_light_text_color;
    --mikiop-warning-light-background-color: @ini_plugin_warning_light_background_color;
    --mikiop-warning-light-border-color: @ini_plugin_warning_light_border_color;

    --mikiop-info-text-color: @ini_plugin_info_text_color;
    --mikiop-info-background-color: @ini_plugin_info_background_color;
    --mikiop-info-border-color: @ini_plugin_info_border_color;
    --mikiop-info-text-hover-color: @ini_plugin_info_text_hover_color;
    --mikiop-info-background-hover-color: @ini_plugin_info_background_hover_color;
    --mikiop-info-border-hover-color: @ini_plugin_info_border_hover_color;
    --mikiop-info-light-text-color: @ini_plugin_info_light_text_color;
    --mikiop-info-light-background-color: @ini_plugin_info_light_background_color;
    --mikiop-info-light-border-color: @ini_plugin_info_light_border_color;

    --mikiop-light-text-color: @ini_plugin_light_text_color;
    --mikiop-light-background-color: @ini_plugin_light_background_color;
    --mikiop-light-border-color: @ini_plugin_light_border_color;
    --mikiop-light-text-hover-color: @ini_plugin_light_text_hover_color;
    --mikiop-light-background-hover-color: @ini_plugin_light_background_hover_color;
    --mikiop-light-border-hover-color: @ini_plugin_light_border_hover_color;
    --mikiop-light-light-text-color: @ini_plugin_light_light_text_color;
    --mikiop-light-light-background-color: @ini_plugin_light_light_background_color;
    --mikiop-light-light-border-color: @ini_plugin_light_light_border_color;

    --mikiop-dark-text-color: @ini_plugin_dark_text_color;
    --mikiop-dark-background-color: @ini_plugin_dark_background_color;
    --mikiop-dark-border-color: @ini_plugin_dark_border_color;
    --mikiop-dark-text-hover-color: @ini_plugin_dark_text_hover_color;
    --mikiop-dark-background-hover-color: @ini_plugin_dark_background_hover_color;
    --mikiop-dark-border-hover-color: @ini_plugin_dark_border_hover_color;
    --mikiop-dark-light-text-color: @ini_plugin_dark_light_text_color;
    --mikiop-dark-light-background-color: @ini_plugin_dark_light_background_color;
    --mikiop-dark-light-border-color: @ini_plugin_dark_light_border_color;

    --mikiop-link-text-color: @ini_plugin_link_text_color;
    --mikiop-link-background-color: @ini_plugin_link_background_color;
    --mikiop-link-border-color: @ini_plugin_link_border_color;
    --mikiop-link-text-hover-color: @ini_plugin_link_text_hover_color;
    --mikiop-link-background-hover-color: @ini_plugin_link_background_hover_color;
    --mikiop-link-border-hover-color: @ini_plugin_link_border_hover_color;

    /* Carousel */
    --mikiop-carousel-title-text-color: @ini_plugin_carousel_title_text_color;
    --mikiop-carousel-caption-text-color: @ini_plugin_carousel_caption_text_color;
    --mikiop-carousel-caption-background-color: @ini_plugin_carousel_caption_background_color;
    --mikiop-carousel-control-fill-color: @ini_plugin_carousel_control_fill_color;
    --mikiop-carousel-control-stroke-color: @ini_plugin_carousel_control_stroke_color;
    --mikiop-carousel-indicator-color: @ini_plugin_carousel_indicator_color;

    /* Steps */
    --mikiop-steps-step-text-color: @ini_plugin_steps_step_text_color;
    --mikiop-steps-border-color: @ini_plugin_steps_border_color;
    --mikiop-steps-step-background-color: @ini_plugin_steps_step_background_color;
    --mikiop-steps-step-background-complete-color: @ini_plugin_steps_step_background_complete_color;

    /* Tabgroup */
    --mikiop-tabgroup-tab-text-active-color: @ini_plugin_tabgroup_tab_text_active_color;
    --mikiop-tabgroup-tab-background-active-color: @ini_plugin_tabgroup_tab_background_active_color;
    --mikiop-tabgroup-tab-border-hover-color: @ini_plugin_tabgroup_tab_border_hover_color;

    /* Tooltip */
    --mikiop-tooltip-text-color: @ini_plugin_tooltip_text_color;
    --mikiop-tooltip-background-color: @ini_plugin_tooltip_background_color;
    --mikiop-tooltip-border-color: @ini_plugin_tooltip_border_color;
}

:root[data-theme="theme-dark"] {
    --mikiop-background-color: @ini_plugin_darkmode_background_color;
    --mikiop-border-color: @ini_plugin_darkmode_border_color;
    --mikiop-header-background-color: @ini_plugin_darkmode_header_background_color;
    --mikiop-footer-background-color: @ini_plugin_darkmode_footer_background_color;

    --mikiop-primary-text-color: @ini_plugin_darkmode_primary_text_color;
    --mikiop-primary-text-hover-color: @ini_plugin_darkmode_primary_text_hover_color;
    --mikiop-primary-background-color: @ini_plugin_darkmode_primary_background_color;
    --mikiop-primary-background-hover-color: @ini_plugin_darkmode_primary_background_hover_color;
    --mikiop-primary-border-color: @ini_plugin_darkmode_primary_border_color;
    --mikiop-primary-border-hover-color: @ini_plugin_darkmode_primary_border_hover_color;
    --mikiop-primary-light-text-color: @ini_plugin_darkmode_primary_light_text_color;
    --mikiop-primary-light-background-color: @ini_plugin_darkmode_primary_light_background_color;
    --mikiop-primary-light-border-color: @ini_plugin_darkmode_primary_light_border_color;

    --mikiop-secondary-text-color: @ini_plugin_darkmode_secondary_text_color;
    --mikiop-secondary-text-hover-color: @ini_plugin_darkmode_secondary_text_hover_color;
    --mikiop-secondary-background-color: @ini_plugin_darkmode_secondary_background_color;
    --mikiop-secondary-background-hover-color: @ini_plugin_darkmode_secondary_background_hover_color;
    --mikiop-secondary-border-color: @ini_plugin_darkmode_secondary_border_color;
    --mikiop-secondary-border-hover-color: @ini_plugin_darkmode_secondary_border_hover_color;
    --mikiop-secondary-light-text-color: @ini_plugin_darkmode_secondary_light_text_color;
    --mikiop-secondary-light-background-color: @ini_plugin_darkmode_secondary_light_background_color;
    --mikiop-secondary-light-border-color: @ini_plugin_darkmode_secondary_light_border_color;

    --mikiop-success-text-color: @ini_plugin_darkmode_success_text_color;
    --mikiop-success-text-hover-color: @ini_plugin_darkmode_success_text_hover_color;
    --mikiop-success-background-color: @ini_plugin_darkmode_success_background_color;
    --mikiop-success-background-hover-color: @ini_plugin_darkmode_success_background_hover_color;
    --mikiop-success-border-color: @ini_plugin_darkmode_success_border_color;
    --mikiop-success-border-hover-color: @ini_plugin_darkmode_success_border_hover_color;
    --mikiop-success-light-text-color: @ini_plugin_darkmode_success_light_text_color;
    --mikiop-success-light-background-color: @ini_plugin_darkmode_success_light_background_color;
    --mikiop-success-light-border-color: @ini_plugin_darkmode_success_light_border_color;

    --mikiop-danger-text-color: @ini_plugin_darkmode_danger_text_color;
    --mikiop-danger-background-color: @ini_plugin_darkmode_danger_background_color;
    --mikiop-danger-border-color: @ini_plugin_darkmode_danger_border_color;
    --mikiop-danger-text-hover-color: @ini_plugin_darkmode_danger_text_hover_color;
    --mikiop-danger-background-hover-color: @ini_plugin_darkmode_danger_background_hover_color;
    --mikiop-danger-border-hover-color: @ini_plugin_darkmode_danger_border_hover_color;
    --mikiop-danger-light-text-color: @ini_plugin_darkmode_danger_light_text_color;
    --mikiop-danger-light-background-color: @ini_plugin_darkmode_danger_light_background_color;
    --mikiop-danger-light-border-color: @ini_plugin_darkmode_danger_light_border_color;

    --mikiop-warning-text-color: @ini_plugin_darkmode_warning_text_color;
    --mikiop-warning-background-color: @ini_plugin_darkmode_warning_background_color;
    --mikiop-warning-border-color: @ini_plugin_darkmode_warning_border_color;
    --mikiop-warning-text-hover-color: @ini_plugin_darkmode_warning_text_hover_color;
    --mikiop-warning-background-hover-color: @ini_plugin_darkmode_warning_background_hover_color;
    --mikiop-warning-border-hover-color: @ini_plugin_darkmode_warning_border_hover_color;
    --mikiop-warning-light-text-color: @ini_plugin_darkmode_warning_light_text_color;
    --mikiop-warning-light-background-color: @ini_plugin_darkmode_warning_light_background_color;
    --mikiop-warning-light-border-color: @ini_plugin_darkmode_warning_light_border_color;

    --mikiop-info-text-color: @ini_plugin_darkmode_info_text_color;
    --mikiop-info-background-color: @ini_plugin_darkmode_info_background_color;
    --mikiop-info-border-color: @ini_plugin_darkmode_info_border_color;
    --mikiop-info-text-hover-color: @ini_plugin_darkmode_info_text_hover_color;
    --mikiop-info-background-hover-color: @ini_plugin_darkmode_info_background_hover_color;
    --mikiop-info-border-hover-color: @ini_plugin_darkmode_info_border_hover_color;
    --mikiop-info-light-text-color: @ini_plugin_darkmode_info_light_text_color;
    --mikiop-info-light-background-color: @ini_plugin_darkmode_info_light_background_color;
    --mikiop-info-light-border-color: @ini_plugin_darkmode_info_light_border_color;

    --mikiop-light-text-color: @ini_plugin_darkmode_light_text_color;
    --mikiop-light-background-color: @ini_plugin_darkmode_light_background_color;
    --mikiop-light-border-color: @ini_plugin_darkmode_light_border_color;
    --mikiop-light-text-hover-color: @ini_plugin_darkmode_light_text_hover_color;
    --mikiop-light-background-hover-color: @ini_plugin_darkmode_light_background_hover_color;
    --mikiop-light-border-hover-color: @ini_plugin_darkmode_light_border_hover_color;
    --mikiop-light-light-text-color: @ini_plugin_darkmode_light_light_text_color;
    --mikiop-light-light-background-color: @ini_plugin_darkmode_light_light_background_color;
    --mikiop-light-light-border-color: @ini_plugin_darkmode_light_light_border_color;

    --mikiop-dark-text-color: @ini_plugin_darkmode_dark_text_color;
    --mikiop-dark-background-color: @ini_plugin_darkmode_dark_background_color;
    --mikiop-dark-border-color: @ini_plugin_darkmode_dark_border_color;
    --mikiop-dark-text-hover-color: @ini_plugin_darkmode_dark_text_hover_color;
    --mikiop-dark-background-hover-color: @ini_plugin_darkmode_dark_background_hover_color;
    --mikiop-dark-border-hover-color: @ini_plugin_darkmode_dark_border_hover_color;
    --mikiop-dark-light-text-color: @ini_plugin_darkmode_dark_light_text_color;
    --mikiop-dark-light-background-color: @ini_plugin_darkmode_dark_light_background_color;
    --mikiop-dark-light-border-color: @ini_plugin_darkmode_dark_light_border_color;

    --mikiop-link-text-color: @ini_plugin_darkmode_link_text_color;
    --mikiop-link-background-color: @ini_plugin_darkmode_link_background_color;
    --mikiop-link-border-color: @ini_plugin_darkmode_link_border_color;
    --mikiop-link-text-hover-color: @ini_plugin_darkmode_link_text_hover_color;
    --mikiop-link-background-hover-color: @ini_plugin_darkmode_link_background_hover_color;
    --mikiop-link-border-hover-color: @ini_plugin_darkmode_link_border_hover_color;

    /* Carousel */
    --mikiop-carousel-title-text-color: @ini_plugin_darkmode_carousel_title_text_color;
    --mikiop-carousel-caption-text-color: @ini_plugin_darkmode_carousel_caption_text_color;
    --mikiop-carousel-caption-background-color: @ini_plugin_darkmode_carousel_caption_background_color;
    --mikiop-carousel-control-fill-color: @ini_plugin_darkmode_carousel_control_fill_color;
    --mikiop-carousel-control-stroke-color: @ini_plugin_darkmode_carousel_control_stroke_color;
    --mikiop-carousel-indicator-color: @ini_plugin_darkmode_carousel_indicator_color;

    /* Steps */
    --mikiop-steps-step-text-color: @ini_plugin_darkmode_steps_step_text_color;
    --mikiop-steps-border-color: @ini_plugin_darkmode_steps_border_color;
    --mikiop-steps-step-background-color: @ini_plugin_darkmode_steps_step_background_color;
    --mikiop-steps-step-background-complete-color: @ini_plugin_darkmode_steps_step_background_complete_color;

    /* Tabgroup */
    --mikiop-tabgroup-tab-text-active-color: @ini_plugin_darkmode_tabgroup_tab_text_active_color;
    --mikiop-tabgroup-tab-background-active-color: @ini_plugin_darkmode_tabgroup_tab_background_active_color;
    --mikiop-tabgroup-tab-border-hover-color: @ini_plugin_darkmode_tabgroup_tab_border_hover_color;

    /* Tooltip */
    --mikiop-tooltip-text-color: @ini_plugin_darkmode_tooltip_text_color;
    --mikiop-tooltip-background-color: @ini_plugin_darkmode_tooltip_background_color;
    --mikiop-tooltip-border-color: @ini_plugin_darkmode_tooltip_border_color;
}